body {
    background-image: url(checkered.jpg);
    margin: 0px;
}

header {
    background-color: whitesmoke;
    width:initial;
    color: black;
    font-size: 38px;
    text-align: center;
    font-style: italic;
}

article {
    text-align: left;
    background-color: whitesmoke;
    width: 1000px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}
